<div id="messages">
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="input-group">
      <span class="input-group-addon">@</span>
      <input id="username" type="text" class="form-control" placeholder="username">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-sm-9">
    <input id="message-input" class="form-control" />
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
